1. Implement a linear regression model: Linear regression is a simple and widely-used machine learning algorithm for predicting a continuous outcome. You could try implementing a linear regression model from scratch using a library such as NumPy, and then apply it to a dataset to see how well it performs.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('csv/insurance.csv')

In [3]:
data.head()

   index  age     sex     bmi  children smoker     region      charges
0      0   19  female  27.900         0    yes  southwest  16884.92400
1      1   18    male  33.770         1     no  southeast   1725.55230
2      2   28    male  33.000         3     no  southeast   4449.46200
3      3   33    male  22.705         0     no  northwest  21984.47061
4      4   32    male  28.880         0     no  northwest   3866.85520

 View charges in relation with the:
 * age
 * sex 
 * children 
 * other parameters

In [6]:
X = data['age']

In [4]:
data.shape

(1338, 8)